
:root {
    --win95-bg: #C0C0C0;
    --win95-dark: #808080;
    --win95-light: #FFFFFF;
    --win95-blue: #000080;
    --win95-text: #000000;
}
@font-face {
    font-family: W95FA;
    src: url(./fonts/w95fa.woff) format("woff");
}

body {
    font-family: 'W95FA', 'MS Sans Serif', 'Arial', sans-serif;
    font-size: 11pt;

    background-color: var(--win95-bg);
    color: var(--win95-text);
    margin: 0;
    padding: 20px;
}


.window {
    
    border-style: solid;
    border-width: 1px;
    border-color: var(--win95-light) var(--win95-dark) var(--win95-dark) var(--win95-light);

    
    box-shadow:
        1px 1px 0 1px var(--win95-text),
        -1px -1px 0 1px var(--win95-dark) inset;

    background-color: var(--win95-bg);
    padding: 5px;
    margin-bottom: 20px;
    max-width: 800px;
}


.title-bar {
    background-color: var(--win95-blue);
    color: var(--win95-light);
    padding: 3px 5px;
    margin: -5px -5px 10px -5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-text {
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    font-family: "W95FA";
}


.title-bar a {
    color: var(--win95-light);
    text-decoration: none;
    border-bottom: none;
    padding: 0 5px;
    box-shadow: inset 1px 1px 0 0 var(--win95-dark);
}

.title-bar a:hover {
    background-color: var(--win95-dark);
}


button,
input[type="submit"] {
    
    background-color: var(--win95-bg);
    border: 1px solid var(--win95-text);
    border-right-color: var(--win95-light);
    border-bottom-color: var(--win95-light);
    padding: 2px 8px;
    cursor: pointer;
    color: var(--win95-blue);
    font-family: "W95FA";
    text-decoration: none;
    box-shadow: 1px 1px 0 0 var(--win95-text),
        inset -1px -1px 0 0 var(--win95-dark),
        inset 1px 1px 0 0 var(--win95-light);
}


.button-link {
    
    display: inline-block;
    
    background-color: var(--win95-bg);
    border: 1px solid var(--win95-text);
    border-right-color: var(--win95-light);
    border-bottom-color: var(--win95-light);
    padding: 2px 8px;
    cursor: pointer;
    color: var(--win95-blue);
    text-decoration: none;
    line-height: normal;
    
    font-family: "W95FA";
    
    box-shadow: 1px 1px 0 0 var(--win95-text),
        inset -1px -1px 0 0 var(--win95-dark),
        inset 1px 1px 0 0 var(--win95-light);
}



button:active,
input[type="submit"]:active,
.button-link:active {
    
    border-color: var(--win95-text) var(--win95-light) var(--win95-light) var(--win95-text);
    box-shadow: inset 1px 1px 0 0 var(--win95-dark),
        inset -1px -1px 0 0 var(--win95-light);
    padding: 3px 8px;
    
}


a {
    
    color: var(--win95-blue);
    text-decoration: none;
    border-bottom: 1px dashed var(--win95-blue);
}


.button-link:hover {
    
    border-bottom-style: initial;
}

a:hover {
    border-bottom-style: solid;
}


input[type="text"],
textarea {
    background-color: var(--win95-light);
    border: 1px solid var(--win95-text);
    border-right-color: var(--win95-light);
    border-bottom-color: var(--win95-light);
    box-shadow:
        inset 1px 1px 0 0 var(--win95-dark),
        inset -1px -1px 0 0 var(--win95-light);
    padding: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}


ul li {
    padding: 2px 4px;
    margin-bottom: 1px;
}

ul li a {
    color: var(--win95-text);
    border-bottom: none;
    text-decoration: none;
    display: block;
}

ul li a:hover {
    background-color: var(--win95-blue);
    color: var(--win95-light);
    border-bottom: none;
}